@font-face {
  font-family: CormorantGaramond;
  src: url(../public/fonts/CormorantGaramond-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: CormorantGaramond;
  src: url('../public/fonts/CormorantGaramond-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Montserrat;
  src: url('../public/fonts/Montserrat-SemiBold.otf');
  font-weight: 600;
}

@font-face {
  font-family: Montserrat;
  src: url('../public/fonts/Montserrat-Regular.otf');
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

:root {
  text-rendering: optimizeLegibility;
  font-size: 64.5%;
}

body {
  max-width: 136.6rem;
  margin-inline: 88px;
  font-size: 1.6rem;
}

.app {
  padding-top: 48px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  align-items: center;
  font-family: Montserrat;
}

.logo-text {
  font-size: 2.4rem;
  font-weight: 500;
}

.route-nav {
  display: flex;
  font-size: 1.6rem;
  column-gap: 64px;
}

.main-hero {
  font-size: 8.1rem;
  line-height: 1.3;
  width: 90%;
  margin-top: 180px;
  font-family: 'CormorantGaramond';

  span:last-child {
    color: rgb(172, 172, 172);
  }
}

.message {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: Montserrat;
  margin-bottom: 48px;
}

.button {
  display: inline-flex;
  width: 264px;
  height: 72px;
  font-size: 1.6rem;
  border: 2px solid rgb(107, 107, 107);
  justify-content: center;
  align-items: center;
  border: 2px solid #000;

  span:first-child {
    margin-right: 8px;
  }
}

.socialMedia {
  display: inline-flex;
  column-gap: 40px;
}

.footer {
  margin-block: 96px 148px;

  .button {
    margin-right: 48px;
  }

  .reach-out {
    display: inline-flex;
    align-items: center;
  }
}

.about-me {
  margin-top: 164px;
  width: 50%;

  h3 {
    font-size: 8.1rem;
    line-height: 1.3;
    font-family: CormorantGaramond;
    font-weight: 400;
    margin-bottom: 72px;
  }

  p {
    line-height: 2;
    font-family: Montserrat;
    color: #868686;
  }
}
